In [15]:
age = int(input("Enter Your Age "))
gender = str(input("Enter Your Gender "))
city = str(input("Enter Your City "))

if age >= 18 and gender == "Male" or city == "Karachi":
    print ("YOu Are Allowed to Participate...!!!")
else :
    print("Not Allowed...!!!")

Enter Your Age 10
Enter Your Gender Male
Enter Your City Hyderabad
Not Allowed...!!!

In [8]:
x = 10;
y = 12;
a = 30;
b = 10;

if x + y != a-b :
    print ("Your Answer is correct")
else :
    print("Wronge Answer")

Your Answer is correct

In [23]:
per = int(input("Enter Your Percentage "))
g = "Grade :"
if per >= 80 and per <= 100 :
    print (g+" A+")
elif per >= 70 and per <80 :
    print(g+" A")
elif per >=60 and per < 70 :
    print (g+" B")
elif per >= 0 and per <60 :
    print("Fail")
else :
    print("Please Enter a Valid Percentage ..!!")

Enter Your Percentage 100
Grade : A+

In [30]:
a = 5;
b = 6;
c = 7;
d = 70;
e = 9;
g = 10;
f = 11;
x = 12;
y = 120;
h1 = 0;
h2 = 20;
h3 = 40;

if c == d :
    if x == y :
        g = h1
        print (g)
    
    elif a == b :
        g = h2
        print (g)
    else :
        e = h3
        print(e)
    
else :
    e = f
    print(e)

11

In [117]:
arr = ["Noroz", "Ali", "Umar", 25 ,False , 0.9]
print(arr)

['Noroz', 'Ali', 'Umar', 25, False, 0.9]

In [118]:
print(arr[1])

Ali

In [119]:
print(arr[3])

25

In [121]:
arr.append("Abdul Hameed")
print(arr)

['Noroz', 'Ali', 'Umar', 25, False, 0.9, 'Abdul Hameed']

In [122]:
arr1 = arr + ["Ghous", "Ali"]
print(arr1)

['Noroz', 'Ali', 'Umar', 25, False, 0.9, 'Abdul Hameed', 'Ghous', 'Ali']

In [123]:
arr1.insert(0, "Ahmad")
print(arr1)

['Ahmad', 'Noroz', 'Ali', 'Umar', 25, False, 0.9, 'Abdul Hameed', 'Ghous', 'Ali']

In [124]:
arr1[5] = True
print(arr1)

['Ahmad', 'Noroz', 'Ali', 'Umar', 25, True, 0.9, 'Abdul Hameed', 'Ghous', 'Ali']

In [125]:
arr2 = arr1[2 : 7] #7 means index no 6
print(arr2)

['Ali', 'Umar', 25, True, 0.9]

In [126]:
print(arr1)

['Ahmad', 'Noroz', 'Ali', 'Umar', 25, True, 0.9, 'Abdul Hameed', 'Ghous', 'Ali']

In [127]:
arr3 = arr1[:5]
print(arr3)

['Ahmad', 'Noroz', 'Ali', 'Umar', 25]

In [128]:
del arr1[6]
print(arr1)

['Ahmad', 'Noroz', 'Ali', 'Umar', 25, True, 'Abdul Hameed', 'Ghous', 'Ali']

In [129]:
arr1.remove("Abdul Hameed")
print(arr1)

['Ahmad', 'Noroz', 'Ali', 'Umar', 25, True, 'Ghous', 'Ali']

In [131]:
arr4 = arr1.pop()
print(arr4)

Ali